.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #125812;
}
.nav-leftItems {
  display: flex;
}
.contendor {
  display: flex;
  align-items: center;
  color: white;
}
